/* css */

html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl,
  dt, dd, ol, ul, li, table, tr, td, form, object, embed,
  article, aside, canvas, command, details, fieldset,
  figcaption, figure, footer, group, header, hgroup, legend,
  mark, menu, meter, nav, output, progress, section, summary,
  time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  }

body {
	font-family: arial;
}

ul, ol {
	list-style: none;
}

.clr {
	clear: both;
}
a {
	color: #2255aa;
	text-decoration: none;
}

p, p.a {
	color: #959595;
	font-size: 12px;
	line-height: 18px;
}
 #wrapper {

}

.container990 {
	width: 990px;
  	margin:0 auto;
}

#header {
	background :#d7e4ff;
	min-height: 75px;
	border-bottom: 1px solid #bbccff;
	margin-bottom: 40px;
}

/*#header a*/ a.logo {
	width: 136px;
	height: 36px;
	/*background: #2255aa;*/
	float: left;
	margin-right: 95px;
	margin-top: 20px;
	background: url('../images/BS_School_sprite.png') no-repeat -33px 0px;

}

#searchHolder {
	width: 460px;
	float: left;
	color: #2255aa;
	margin-top: 15px;
	margin-right: 125px;
	margin-right: 95px;
}
ul.country {
	margin-bottom: 8px;
}

#searchHolder ul.country li {
	float: left;
}

#searchHolder ul.country li a, ul.register li a {
	/*background: transparent;
	margin: 0;
	width: 0;
	height: 0;*/

	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-right: 16px;
	text-shadow: 1px 1px 1px #fff;
}

#searchHolder ul.country li.clr {
	clear: both;
	float: none;
}

input[name=searchField] {
	width: 369px;
	height: 28px;
	border: 1px solid #d2d5e9;
	border-right: 0px solid #d2d5e9;
	float: left;

}

input[name=submit] {
	width: 88px;
	height: 28px;
	border: 1px solid #2255aa;
	background: #2255aa;
	color: #fff;
	text-shadow: 1px 1px 1px #2255aa;
	float: left;
	line-height: 28px;
}

.register {
	float: right;
	/*line-height: 75px;*/
	margin-top: 40px;
}

ul.register li {
	float: left;
}

#searchHolder ul.register li.clr {
	clear: both;
	float: none;
}

ul.register li a i.twitter {
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/BS_School_sprite.png') no-repeat -60px -61px;
}


ul.register li a i.facebook {
	display: block;
	width: 24px;
	height: 24px;
	background: url('../images/BS_School_sprite.png') no-repeat -83px -61px;
}

ul.register li a.icons {
	margin-right: 0px;
	margin-top: -4px;
}

#content {
	width: 990px;
	margin: 0 auto;
	background: url('../images/2_horizontal_lines.jpg');
	background-repeat: repeat-y;
}

#leftContent {
	width: 210px;
	float: left;
}

.blueHeading  {
	color: #2255aa;
	font-size: 12px;
	font-weight: bold;
	display: block;
}

.tempMargin {
	margin-bottom: 60px;
}

.blueTextNormal, .blueTextNormal.a {
	color: #2255aa;
	font-size: 12px;
	display: block;
	margin-bottom: 18px;
}

.blackHeading {
	color: #000;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.profileSchoolLogo {
	height: 170px;
	padding: 8px 0 0 35px;
	border-bottom:1px solid #e5e5ee; 
}

.profileDetails {
	padding: 20px 0 0 0;
}
.overview {}


.last {
	width: 8px;
	height: 14px;
	background: #ccc;
}
.profileDetails ul.overview li {
	height: 29px;
	border-bottom: 1px solid #e5e5ee;
}

.profileDetails ul.overview li a {
	display: block;
	color: #2255aa;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
}
.profileDetails ul.overview li a i{
	width: 16px;
	height: 16px;
	float: left;
	margin: 6px 5px 0 0;
	background: #ccc;
}

.profileDetails ul.overview li.Overview1 a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -3px;
}

.profileDetails ul.overview li.faculty a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -23px;
}

.profileDetails ul.overview li.infrastructure a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -42px;
}

.profileDetails ul.overview li.methodologies a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -62px;
}

.profileDetails ul.overview li.studentExchange a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -83px;
}

.profileDetails ul.overview li.location a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -103px;
}

.profileDetails ul.overview li.curriculum a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -122px;
}

.profileDetails ul.overview li.globalExposure a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -142px;
}

.profileDetails ul.overview li.corporateInterface a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -164px;
}

.profileDetails ul.overview li.alumniInterface a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -183px;
}

.profileDetails ul.overview li.boardGovernance a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -203px;
}

.profileDetails ul.overview li.placements a i {
	background: url('../images/BS_School_sprite.png') no-repeat -5px -223px;
}

.profileDetails ul.overview li a i.next{
	width: 16px;
	height: 14px;
	float: right;
	margin-top: 8px;
	background: url('../images/BS_School_sprite.png') no-repeat -5px -243px;
}


#middleContent {
	width: 460px;
	float: left;
	padding: 0 20px;
}
.gallery {

}

.gallery ul.imageGallery {
	
}

.heading {
	background: #ccddff;
	height: 29px;
	border-bottom: 1px solid #ccddff;
	padding-bottom: 1px;
	margin-bottom: 10px;
}

.heading h3 {
	font-size: 14px;
	font-weight: bold;
	color: #000;
	line-height: 30px;
	/*margin-left: 10px;*/
	text-indent: 10px;
}

#rightContent {
	width: 260px;
	float: right;
	padding: 0 0 0 20px;
}
/*.marginBottom {
	margin-bottom: 10px;
}*/
.competingSchool {

}
ul.competingSchool li {
	height: 35px;
	margin-bottom: 10px;
}

ul.competingSchool li a{
	font-size: 12px;
	line-height: 12px;
}

ul.competingSchool li img {
	float: left;
	margin-right: 10px;
}
