 /*CSS */

body {
	 font-family:"Times New Roman", Times, serif;
}

ul, ol {
	list-style: none;
}

p {	
	color: #888;
	font-size: 14px;
	line-height: 18px;
}

.clear {
 clear: both;
 float: none;
}


/* Body Begin */

.pageWrapper {}

.navbar .container {
	margin: 0 auto;
	width: 940px;
	position: relative;	
 }

.header {
	box-shadow: 0px 1px 5px #3b3b3b	;

	background-image:linear-gradient(bottom, #ebf0f7, #ffffff);
	background-image: -moz-linear-gradient(bottom, #ebf0f7, #ffffff);
	background-image: -o-linear-gradient(bottom, #ebf0f7, #ffffff);
	background-image: -webkit-linear-gradient(bottom, #ebf0f7, #ffffff);
	background-image: -ms-linear-gradient(bottom, #ebf0f7, #ffffff);	
}

a.logo {
	display: block;
	position: absolute;
	width: 221px;
	height: 72px;

	text-indent: -10000px;
	z-index: 999;
	background: url('../images/MicroSave_Logo.png') no-repeat;
	border: 0;

	/*float: left;*/
	
	/*background-position: center center;*/
	
	/*box-shadow: 0px 0px 5px #bbbdc0;
	border-bottom-left-radius:4px; 
	border-bottom-right-radius:4px;*/ 
}


.setRelative {
	position: relative;
}


.navbar {
	margin:0; 
	background-color: transparent;
	background: url('../images/Microsave_header_BG.gif') repeat-x;
}

.navbar-inner {
	background-color: transparent;
	border:none; 
	background-color: transparent;
	background-image: none;
	/*background: url('../images/MIcrosave_header_BG.gif') repeat-x left top;*/
}

.navbar .mainNav {
	float: right;
	margin: 2px 0 0 0;
}

.navbar .mainNav li {
	float: left;
	background: url('../images/divider_Line.jpg') no-repeat right bottom;
}

.navbar .mainNav li:first-child a{
	background: url('../images/divider_Line.jpg') no-repeat left bottom;
}

/*.navbar .mainNav li.empty {
	width: 2px;
	height: 47px;
	background: url('../images/divider_Line.jpg')no-repeat left bottom ;
}*/

/*.navbar .mainNav li:first-child {
	background: url('../images/divider_Line.jpg') ;
}*/

.navbar .mainNav li a {
	display: block;
	/*text-align: center;*/
	width: 92px;
	color: #3355aa;
	font-size: 15px;
	line-height: 17px;
	font-style: italic;
	padding:15px 14px;
	padding:15px 3px 15px 14px;
	/*background: url('../images/divider_Line.jpg') no-repeat right bottom;*/

}
.mainNav li a i {
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 10px;
}

.mainNav li.home a i {
	background: url('../images/Microsave_sprite.png') no-repeat -31px -10px;
}
.mainNav li.about a i {
	background: url('../images/Microsave_sprite.png') no-repeat -9px -32px;
}

.mainNav li.blog a i {
	background: url('../images/Microsave_sprite.png') no-repeat -9px -54px;
}
.mainNav li.contact a i {
	background: url('../images/Microsave_sprite.png') no-repeat -9px -76px;
}

.navbar .mainNav li:hover, .navbar .mainNav li.active a {

	color: #222222;
	background: #fff;
	text-decoration: none;
}

.navbar .mainNav li.active a {
	background: #fff url('../images/divider_Line.jpg') no-repeat right bottom;
}


.sliderWrapper {	
	background: url('../images/slider_BG.jpg');
}
.sliderHolder {
	margin-bottom: 70px;
}
.headingSlider {
}

h2{
color: #fff;
font-size: 28px;
line-height: 30px;
text-align: center;
margin: 55px 0 40px 0;
font-weight: normal;
text-shadow:0 0 6px #000;
}

.yellowText {
	color:#ffbb44;
	font-style: italic;
	font-weight: bold;
}

ul.slider {
	margin: 0;
}

.sliderImage {
	float: left;
	width: 518px;
	height: 228px;
	border-radius: 5px;
	border: 1px solid #444444;
	box-shadow: 0 0 5px #000; 
	margin-right: 15px;
	overflow: hidden;
}
.sliderContent {
	/*width: 380px;*/
	max-width: 360px;
	margin:20px 45px 0 0;
	float: right;
	font-family: georgia;

}

.sliderContent h6 {
	color: #ffcc44;
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 6px; 0;
	font-style: italic;
	font-weight: normal;
}

.sliderContent p{
	color: #ccc;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 20px;
}

.pdfWrapper {

}

.pdfSizeHolder {
	display: block;
	min-width: 80px;
	height: 22px;
	float: left;
	margin-right: 25px;
}

/*i {
	
}*/

.pdfSizeHolder i {
	display: block;
	width: 22px;
	height: 22px;
	float: left;
	background: url('../images/Microsave_sprite.png') no-repeat -7px -103px;
	margin-right: 7px;
}

.pdfSize {
	color: #ccc;
	font-size: 12px;
	line-height: 14px;
}

a.download {
	/*display: block;*/
	width: 97px;
	height: 13px;
	float: left;
	border-radius: 4px;
	border: 1px solid #bdbdbd;
	background-image: linear-gradient(bottom, #e0e5ed, #f6f6f7);
	background-image: -webkit-linear-gradient(bottom, #e0e5ed, #f6f6f7);
	background-image: -moz-linear-gradient(bottom, #e0e5ed, #f6f6f7);
	background-image: -o-linear-gradient(bottom, #e0e5ed, #f6f6f7);

	color:#3355aa;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
	text-shadow:1px 1px 2px #fff;
	/*padding: 3px 5px 9px 5px;*/
	padding: 5px 5px 8px 8px;
}

a.download i {
	background: url('../images/Microsave_sprite.png') no-repeat -10px -129px;
	margin-right: 5px;
	width: 18px;
	height: 18px;
}

.bodyContent {
	padding-bottom: 20px;
}

.tabHolder {
	position: relative;
	margin-bottom: 30px;
}

ul.tabNav {
	float: left;
	margin: 0;
	position: absolute;
	top: -41px;
}
ul.tabNav li {
	float: left;
	margin-right: 10px;
}

ul.tabNav li a {
	display: block;
	padding: 10px 15px;
	font-size: 20px;
	line-height: 22px;
	font-style: italic;
	color: #fff;
	box-shadow: 0 -1px 3px #000, inset  0 1px 1px rgba(255,255,255,.2);

	background-image:linear-gradient(bottom, #204289, #3355aa);
	background-image:-webkit-linear-gradient(bottom, #204289, #3355aa);
	background-image:-o-linear-gradient(bottom, #204289, #3355aa);
	background-image:-moz-linear-gradient(bottom, #204289, #3355aa);
	background-image:-ms-linear-gradient(bottom, #204289, #3355aa);

	text-shadow: 0 1px 2px #003377;
	border-radius: 4px 4px 0 0;
}

ul.tabNav li a:hover, ul.tabNav li a.active2 {
	background: #fff;
	color: #222;
	text-shadow:none;
	text-decoration: none;
	box-shadow: none;
}

.tabContent {
	background: #fff;
	padding: 30px 25px 0 25px;
	display: none;
	position: absolute;
	z-index: 999;
}
.tabContent p{
	font-size: 24px;
	line-height: 30px;
	color: #222222;
	text-align: center;
	margin: 0;
}


/*.setWidth {
	width: 100%;
}*/

/* prev / next links 
.cycle-prev, .cycle-next { 
	display:block; 
	text-indent:-99999px;
	position: absolute; 
	top: 220px; 
	width: 30px; 
	opacity:.3; filter: alpha(opacity=0); 
	z-index: 800; 
	height: 30px; 
	cursor: pointer; 
	margin: 0 10px;
}
.cycle-prev { 
	left: 0;  
	background: url(../images/prev.png) left center no-repeat;
}
.cycle-next { 
	right: 0; 
	background: url(../images/next.png) right center no-repeat;
}
.cycle-prev:hover, .cycle-next:hover { 
	opacity: .7; 
	filter: alpha(opacity=70) 
}

.disabled { 
	opacity: .5; 
	filter:alpha(opacity=50); 
}

/* pager */

.cycle-pager { 
    text-align: center; 
    /*width: 100%; */
    z-index: 500; 
    position: absolute; 
    /*top: 400px; */
    top: 200px; 
    left: 0;
    overflow: hidden;
}

.cycle-pager span { 
    width: 25px; 
    height: 25px; 
    display: block; 
    background: url('../images/Microsave_sprite.png') no-repeat 0px -176px;
    cursor: pointer; 
    color: transparent;
    /*margin-right: 10px;*/
    margin-bottom: 6px;
}
.cycle-pager span.cycle-pager-active { 
	/*color: #fff;*/
	background: url('../images/Microsave_sprite.png') no-repeat 0px -208px;
}
.cycle-pager > * { 
	cursor: pointer;
}

/* pager */

a.network {
	/*display: block;*/
	width: 45px;
	height: 50px;
	/*float: right;*/
	position: fixed;
	right: 0;
	top: 220px;
	background: url('../images/Microsave_sprite.png') no-repeat 0px -242px;
}

/*ul.slider {
	margin-left: 0;
}

ul.slider li img {
float: right;	
}

ul.slider .sliderText {
	max-width: 440px;	
	position: absolute;
	top: 115px;
	left: 80px;
	top: 12%;
left: 8.5%;
}

ul.slider .sliderText h1 {
	color: #fff;
	font-size: 36px;
	line-height: 38px;
	font-family: 'TitilliumWeb-Bold';
	text-transform: uppercase;
	margin-bottom: 10px;
}

ul.slider .sliderText h4 {
	font-family: arial;
	color: #eee;
	font-size: 28px;
	line-height: 30px;
	font-weight: normal;
}

ul.slider .sliderText p {
	font-family: arial;
	font-size: 14px;
	line-height: 19px;
	color: #82878b;
}
*/

.contentHolder {
	border-radius: 3px;
	border:1px solid #cccccc;
	/*box-shadow: 0 -2px 5px #ededed;*/
	box-shadow: 0px 4px 0px 0px #f2f2f2;
	margin-top: 145px;
}

.leftContent {
	width: 639px;
	float: left;
	border-right: 1px solid #dcdcdc;
	box-shadow: 5px 0 0 #f2f2f2;
}

.search {
	background: #fffef4;
	/*min-height: 160px;*/
	padding: 10px;
	border-top-left-radius: 3px;
}

.search a.searchBtn {
	/*display: block;*/
	padding: 5px 15px;
	font-size: 18px;
	line-height: 20px;
	font-style: italic;
	color: #fff;
	text-shadow: 0 1px 2px #003377;
	float: left;

	box-shadow: 0 -1px 3px #000, inset  0 1px 1px rgba(255,255,255,.2);
	border-radius: 4px;

	background-image:linear-gradient(bottom, #204289, #3355aa);
	background-image:-webkit-linear-gradient(bottom, #204289, #3355aa);
	background-image:-o-linear-gradient(bottom, #204289, #3355aa);
	background-image:-moz-linear-gradient(bottom, #204289, #3355aa);
	background-image:-ms-linear-gradient(bottom, #204289, #3355aa);	
	
}
.search a.searchBtn i {
	height: 18px;
	background: url('../images/Microsave_sprite.png') no-repeat -7px -147px;
	margin-right: 5px;

}

.search .selectBox {
	width: 120px;
	margin: 0 10px 0 0;
	box-shadow: inset 0px 1px 4px #bbbbbb;
	float: left;
}

.searchHeading {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	margin: 0 0 13px 0;
	display: block; 
}

.search .keywordBox {
	width: 360px;
	box-shadow: inset 0px 1px 4px #bbbbbb;
}

.searchBottom {
	background: url('../images/searchBottomImage.png')no-repeat;
	height: 6px;
	margin-bottom: 25px;
}

/* Tab 2 starts*/
.tabHolder2 {
	/*position: relative;*/
	/*margin-bottom: 30px;*/
}

ul.tabNav2 {
	float: left;
	margin: 0 0 0 30px;
	position: absolute;
	/*top: -40px;*/
}
ul.tabNav2 li {
	float: left;
	margin-right: 5px;
}

ul.tabNav2 li a{
	display: block;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
	font-style: italic;
	color: #3355aa;
	border: 1px solid #bdbdbd; 
	border-bottom: none;

	background-image:linear-gradient(bottom, #e6edf5, #fff);
	background-image:-webkit-linear-gradient(bottom, #e6edf5, #fff);
	background-image:-o-linear-gradient(bottom, #e6edf5, #fff);
	background-image:-moz-linear-gradient(bottom, #e6edf5, #fff);
	background-image:-ms-linear-gradient(bottom, #e6edf5, #fff);

	text-shadow: 0 1px 2px #fff;
	border-radius: 4px 4px 0 0;
}

ul.tabNav2 li a:hover, ul.tabNav2 li a.active2 {
	background: #fff;
	color: #222;
	text-shadow:none;
	text-decoration: none;
	box-shadow: none;
	border-bottom: 1px solid #fff;
}

ul.tabContent2Holder {
	float: left;
	margin: 41px 0 20px 0;
	border-top: 1px solid #dbdbdb;
	box-shadow: 0px -4px 17px #eaeaea;
}

li.tabContent2 {
	background: url('../images/Blue_gradient.jpg') repeat-x left bottom;
	padding: 30px 20px 20px 20px;
	border-bottom: 1px solid #bdbdbd;
	box-shadow: 0px 2px 0px 0px #f2f2f2;
}

ul.tabContent2Holder li:first-child {
	border-top: none;
}

li.tabContent2 h6 {
	font-size: 18px;
	line-height: 20px;
	color: #222;
	margin:0 0 8px 0;
}
.author {
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #444;
	margin-bottom: 10px;
	font-style: italic;
}
.greyText {
	color: #888;
}
.loadMoreHolder {
	text-align: center;
}

a.loadMore {
	/*display: block;*/
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
	font-style: italic;
	color: #fff;
	box-shadow: 0 -1px 3px #000, inset  0 1px 1px rgba(255,255,255,.2);

	background-image:linear-gradient(bottom, #204289, #3355aa);
	background-image:-webkit-linear-gradient(bottom, #204289, #3355aa);
	background-image:-o-linear-gradient(bottom, #204289, #3355aa);
	background-image:-moz-linear-gradient(bottom, #204289, #3355aa);
	background-image:-ms-linear-gradient(bottom, #204289, #3355aa);

	text-shadow: 0 1px 2px #003377;
	border-radius: 4px;
}

/*li.tabContent2 p{
	font-size: 24px;
	line-height: 30px;
	color: #222222;
	text-align: center;
	margin: 0;
}*/
/* Tab 2 ends*/

.rightContent {
	width: 298px;
	float: right;
	/*min-height: 200px;*/
	padding-top: 5px;
}

.rightContent img {
	float: right;
}

.footer {
	background: url('../images/footer_BG.jpg');
}
.shadow {
	height: 5px;
	background: url('../images/footer_bottom_BG.png') no-repeat center top;
	margin-bottom: 20px;
}

.footerNav {
	background: url('../images/footer_bottom_BG2.png') no-repeat center bottom;
	margin-bottom: 10px;
	padding: 0 20px 15px 20px;
}

ul.home {
	float: left;
	margin: 0;
}

ul.home li, ul.sitemap li {
	float: left;
	border-left: 1px solid #c4c4c4;
	padding: 0 8px;
}

ul.home li:first-child, ul.sitemap li:first-child {
	border-left: none;
}

ul.home li a, ul.sitemap li a {
	font-size: 14px;
	line-height: 16px;
	color: #3355aa;
	font-style: italic;
	text-decoration: none;
}

ul.home li a:hover, 
ul.sitemap li a:hover, 
ul.home li a.active3 {
	color: #222222;
}

ul.sitemap {
	float: right;
	margin: 0;
}

.copyrightHolder {
	padding: 0 20px;
}

.copyright {
	float: left;
	font-size: 13px;
	font-style: italic;
	color: #888888;

}
ul.socialMedia {
	float: right;
}

ul.socialMedia li {
	float: left;
	margin-right: 5px;
}
ul.socialMedia li i{
	width: 17px;
	height: 18px;
	float: left;
}

li.facebook i {
	background: url('../images/Microsave_sprite.png') no-repeat -1px -298px;	
}

li.twitter i {
	background: url('../images/Microsave_sprite.png') no-repeat -1px -317px;
}

li.linkedIn i {
	background: url('../images/Microsave_sprite.png') no-repeat -1px -335px;	
}

.marginBottom {
	margin-bottom: 20px;
}

/*.paddingBottom {
	padding-bottom: 20px;
}*/